.adminPageContainer {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

.laneRow {
	display: flex;
	flex-direction: row;
}

.laneButton {
	margin: 0.5rem;
	margin-left: 1rem;
}

.usersRow {
	display: flex;
}

.tableButtons {
	display: flex;
}

.tableButton {
	margin: 0.5rem;
}

.adminTabs {
	background-color: rgb(231, 231, 231);
}
