.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }
  
  #main {
	flex: 1;
  }

  .frontImage{
	max-width: 100%;
  }

 table {
	overflow-x: auto
 }

  #frontPageTitle{
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 3rem;
  }

