.footer {
	border-top: solid rgb(52, 52, 52) 1px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	position:fixed;
    bottom: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.footerItem {
	margin-right: 1rem;
	margin-left: 1rem;
}
