.footer {
	padding-top: 2rem;
	padding-bottom: 2rem;

	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: rgb(231, 231, 231);
	align-self: flex-end;
}

.footerItem {
	margin-right: 1rem;
	margin-left: 1rem;
}
.language-btn {
	width: 6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center; /* Ensure text is centered */
	flex: 1;
	border-radius: 0.5rem;
	background-color: ghostwhite;
}

.language-buttons {
	display: flex;
	align-items: center;
	justify-content: center; /* Center buttons */
    flex-wrap: wrap; /* Allow buttons to wrap */
    gap: 0.5rem; /* Add some space between buttons */
}