.superheader {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	background-color: white;
	border-bottom: solid 1px rgb(132, 132, 132);
	position: sticky;
	top: 0;
}
.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	background-color: white;
}
#headerTitle {
	align-self: left;
	margin-top: 0.5rem;
	margin-left: 1em;
}
#loginButton {
	margin-top: 0.7rem;
	margin-right: 1em;
	flex-shrink: 0;
    display: flex;
	align-items: center;
	justify-content: center;
}

.headerItem {
	text-decoration: none;
	display: block;
	padding: 1em;
	margin-right: 1em;
	flex-shrink: 0;
}

.userName {
	display: block;
	padding: 1em;
	margin-right: 1em;
}

.headerItem:hover {
	color: white;
	background-color: #1565c0;
}

#dropdownHeader {
	margin-top: 0.3em;
	margin-right: 1em;
}

#dropdownButton {
	min-width: 10rem;
}
