.userdetailsbuttons {
    min-width: 15rem;
    align-content:  stretch;
    display: flex;
    flex-wrap: wrap;
}
.userdetailsdeletebuttons{
    align-content:  center;
    margin-right: 0.2rem;
	margin-left: 0.2rem;
}